INSTAMOJO_API_KEY=
INSTAMOJO_AUTH_TOKEN=
INSTAMOJO_BASE_URL=https://www.instamojo.com
PAYU_MID=
PAYU_KEY=
PAYU_SALT=
PAYU_CLIENT_ID=
PAYU_CLIENT_SECRET=
PAYU_BASE_URL=https://info.payu.in/merchant/postservice.php?form=2
PORT=3001
